<section id="inner_page_section" class="inner_page_section">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">
                        <div class="content">
                            <h1>{{message}}</h1>
                            <h2>{{error.status}}</h2>
                            <pre>{{error.stack}}</pre>
                        </div>
                        <div class="card-footer">
                            <div class="button mt-2 row">
                                <div class="col-12">
                                    <a href="/">
                                        Back to home
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>