<section id="inner_page_section" class="inner_page_section">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8" data-aos="fade-up" data-aos-delay="100">
                <div class="card">

                    <div class="card-body">
                        <div class="content">
                            <h3>Instructions for attending offline Interviews</h3>
                            <ul>
                                <li><i class='bx bxs-chevron-right'></i>
                                    <p style="color: rgb(252, 43, 85); font-weight: 700">
                                        It is mandatory for all allotted candidates to attend the allocated pool. In
                                        case of
                                        non-attendance, you will be blacklisted or suspended from future events</p>
                                </li>
                                <li><i class='bx bxs-chevron-right'></i>
                                    <strong style="color: rgb(252, 43, 85); font-weight: 700"> Those who fail to produce
                                        the allotment card at
                                        the venue will not be allowed to sit for the interviews.</strong> It is
                                    mandatory for all
                                    candidates to carry the allotment card with them on the reporting day.
                                </li>
                                <li style="font-weight: 700"><i class='bx bxs-chevron-right'></i>
                                    Please note that you need to enter the Location via the main gate only.
                                </li>
                                <li><i class='bx bxs-chevron-right'></i><strong
                                        style="color: rgb(252, 43, 85); font-weight: 700">All attendees are required to
                                        carry the
                                        copy of
                                        candidate allotment card,</strong>.
                                </li>
                                <li><i class='bx bxs-chevron-right'></i><strong
                                        style="color: rgb(252, 43, 85); font-weight: 700">Entrance through the main gate
                                        is the only way to access the venue for the offline interviews.</strong>.
                                </li>
                                <li><i class='bx bxs-chevron-right'></i>All attendees must carry enough copies
                                    of your resume. <strong>If you do not receive the allotment card one day before the
                                        reporting date, kindly contact us immediately.</strong></li>
                                <li><i class='bx bxs-chevron-right'></i> <strong>candidates must report at the
                                        registration desk on
                                        or before the reporting time</strong></li>
                                <li><i class='bx bxs-chevron-right'></i> <strong
                                        style="color: rgb(252, 43, 85); font-weight: 700"> Please ensure that you bring
                                        a valid form of
                                        identification with you to the event.</strong> This can include any
                                    government-issued ID such
                                    as a passport, driver's license, or national ID card.</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>