<section id="inner_page_section" class="inner_page_section">
    <div class="container" data-aos="fade-up">

        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="content">
                            <h3>Pool A - Technopark, Trivandrum</h3>
                            <p class="mt-2" style="font-weight: 700">
                                Location: Technopark, Trivandrum <br>
                                Date: 8th May, 2023
                            </p>
                            <ul>
                                <li><i class='bx bx-right-arrow'></i>
                                    <h5><strong>Techversant Infotech</strong></h5>
                                </li>
                                <li><i class='bx bx-right-arrow'></i>
                                    <h5><strong>Softland India Limited</strong></h5>
                                </li>
                                <li><i class='bx bx-right-arrow'></i>
                                    <h5><strong>CareStack</strong></h5>
                                </li>
                                <li><i class='bx bx-right-arrow'></i>
                                    <h5><strong>Faya</strong></h5>
                                </li>
                                <li><i class='bx bx-right-arrow'></i>
                                    <h5><strong>ECESIS Group of Companies</strong></h5>
                                </li>
                                <li><i class='bx bx-right-arrow'></i>
                                    <h5><strong>Daiviksoft Technologies</strong></h5>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <div class="button mt-2 row">
                                <div class="col-12">
                                    <a href="/recruiters/pool/a">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ico"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                                            <path
                                                d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                                        </svg>
                                        View in Detail
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="content">
                            <h3>Pool B - Technopark, Trivandrum</h3>
                            <p class="mt-2" style="font-weight: 700">
                                Location: Technopark, Trivandrum <br>
                                Date: 8th May, 2023
                            </p>
                            <ul>
                                <li><i class='bx bx-right-arrow'></i>
                                    <h5><strong>TATA ELXSI</strong></h5>
                                </li>
                                <li><i class='bx bx-right-arrow'></i>
                                    <h5><strong>Elementz Engineers Guild Pvt Ltd</strong></h5>
                                </li>
                                <li><i class='bx bx-right-arrow'></i>
                                    <h5><strong>Softnotions Technologies</strong></h5>
                                </li>
                                <li><i class='bx bx-right-arrow'></i>
                                    <h5><strong>Triassic solutions Private Limited</strong></h5>
                                </li>
                                <li><i class='bx bx-right-arrow'></i>
                                    <h5><strong>Mettle networks</strong></h5>
                                </li>
                                <li><i class='bx bx-right-arrow'></i>
                                    <h5><strong>Thinkpalm</strong></h5>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <div class="button mt-2 row">
                                <div class="col-12">
                                    <a href="/recruiters/pool/b">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ico"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                                            <path
                                                d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                                        </svg>
                                        View in Detail
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="content">
                            <h3>Pool C - Infopark, Kochi</h3>
                            <p class="mt-2" style="font-weight: 700">
                                Location: Infopark, Kochi <br>
                                Date: 13th May, 2023
                            </p>
                            <ul>
                                <li><i class='bx bx-right-arrow'></i>
                                    <h5><strong>Zerone Consulting</strong></h5>
                                </li>
                                <li><i class='bx bx-right-arrow'></i>
                                    <h5><strong>Aabasoft Technologies India Pvt. Ltd</strong></h5>
                                </li>
                                <li><i class='bx bx-right-arrow'></i>
                                    <h5><strong>Pumex Infotech</strong></h5>
                                </li>
                                <li><i class='bx bx-right-arrow'></i>
                                    <h5><strong>Codelynks Software Solutions</strong></h5>
                                </li>
                                <li><i class='bx bx-right-arrow'></i>
                                    <h5><strong>Kott Software Private Limited</strong></h5>
                                </li>
                                <li><i class='bx bx-right-arrow'></i>
                                    <h5><strong>Leapcodes Private Limited</strong></h5>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <div class="button mt-2 row">
                                <div class="col-12">
                                    <a href="/recruiters/pool/c">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ico"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                                            <path
                                                d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                                        </svg>
                                        View in Detail
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="content">
                            <h3>Pool D - Infopark, Kochi</h3>
                            <p class="mt-2" style="font-weight: 700">
                                Location: Infopark, Kochi <br>
                                Date: 13th May, 2023
                            </p>
                            <ul>
                                <li><i class='bx bx-right-arrow'></i>
                                    <h5><strong>UVJ Technologies</strong></h5>
                                </li>
                                <li><i class='bx bx-right-arrow'></i>
                                    <h5><strong>Absyz</strong></h5>
                                </li>
                                <li><i class='bx bx-right-arrow'></i>
                                    <h5><strong>Design Alpha</strong></h5>
                                </li>
                                <li><i class='bx bx-right-arrow'></i>
                                    <h5><strong>Abilytics Inc.</strong></h5>
                                </li>
                                <li><i class='bx bx-right-arrow'></i>
                                    <h5><strong>Benlycos</strong></h5>
                                </li>
                                <li><i class='bx bx-right-arrow'></i>
                                    <h5><strong>Thinkpalm</strong></h5>
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer">
                            <div class="button mt-2 row">
                                <div class="col-12">
                                    <a href="/recruiters/pool/d">
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ico"
                                            viewBox="0 0 16 16">
                                            <path
                                                d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z" />
                                            <path
                                                d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z" />
                                        </svg>
                                        View in Detail
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>